.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  background-color: #680148;
  border-radius: 5px;
}

.detail-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
}

.detail-content {
  text-align: center;
  z-index: 1;
}

.detailImage {
  width: 25vw;
  border-radius: 5px;
  border-color: black;
  border: 2px;
  border-style: solid;
}

.tarjeta {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  column-gap: 1vw;
  align-items: center;
  margin-top: 1vw;
}

.description {
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 36px;
}
