.searchBar {
    display: flex;
    align-items: center;
}
  
.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    width: 200px;
}
  
.buscar-pais {
    font-family: "Noto Serif", serif;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #680148;
    background: #680148;
  }
  
  .buscar-pais:hover {
    background: rgba(0, 0, 0, 0);
    color: #680148;
  }