.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
  
.marca{
    margin: 0;
    font-size: 40px;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    color: #000;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1vw;
}
  
.navbar-right{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.flow {
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    color: #000;
}
.empresa{
    font-size: 36px
}
.mundo4{
    width: 5vw;
    align-self: center;
}